<header class="header fixed-top">
    <div class="header-top-row">
        <div class="container">
            <nav class="navbar navbar-expand-md flex-nowrap justify-content-between navbar-new-top">

                <a class="navbar-brand" href="{{#with
                        (and site.url site.homeUrl)}}{{@root.site.url}}{{this}}{{else}}{{siteRootPath}}{{/with}}">
                    <img src="{{{uiRootPath}}}/img/bs23.svg" alt="Brain Station 23"/>
                </a>
                {{! <ul class="nav navbar-nav mr-auto"></ul> }}
                <button class="navbar-burger" data-target="topbar-menu">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>

            </nav>
        </div>
    </div>
    {{! End primary header }}
    {{! Start secondary header }}
    <div class="header-bottom-row" id="topbar-menu">
        <div class="container">
            <nav class="navbar navbar-new-bottom">

                <div class="navbar-collapse collapse" id="navbar2">
                    <ul class="navbar-nav w-100 justify-content-start">
                        <li class="nav-item">
                            <a href="{{#with
                                    (and site.url site.homeUrl)}}{{@root.site.url}}{{this}}{{else}}{{siteRootPath}}{{/with}}"
                               class="nav-link">
                                <i class="fas fa-home"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{relativize (resolvePageURL 'java:beginner:introduction-to-ide/intellij-idea.adoc')}}">
                                Java Beginner
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>
